body
{
    font-size: 14px;
    font-family: Arial;
    background: #daffd4;
}

td
{
    padding: 2px;
}

a
{
    color: black;
}

.main_table, .right
{
    border-width: 1px;
    border-spacing: 15px;
}
.frame
{
    width: 100%;
}
.cell, .right
{
    vertical-align: top;
}
.right
{
    text-align: right;
}
