body
{
    font-size: 14px;
    font-family: Arial;
    background: #daffd4;
}

td
{
    padding: 2px;
}

a
{
    color: black;
}
input
{
    border:solid 1px #ccc;
    border-radius: 5px;
}
.refs, .msg
{
    margin: 15px 0px 0px 15px;
}
.main_table
{
    border-width: 1px;
    border-spacing: 15px;
}
.frame
{
    width: 100%;
}
.cell, .right
{
    vertical-align: top;
}
.msg
{
    color: red;
}
