<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add switching</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}
    <form action="{{ url_for('add_switching') }}" method="post">
        <p>External port &nbsp;&nbsp;<input type="text" name="ext_p" value="{{ ep }}"/></p>                                      <p/>
        <p>IP address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="ip"
                            value="{{ ip }}"/></p>
        <p>Internal port &nbsp;&nbsp;&nbsp;<input type="text" name="int_p"
                            value="{{ p }}"/></p>
        <p><button type="submit">Commit</button></p>
    </form>
</body>
</html>