<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}
    <form action="{{ url_for('edit_switching', port = ext_p) }}" method="post">
        <input type="text" value="{{ ext_p }}" name="ext_p"/>
        <p></p>
        <input type="text" value="{{ ip }}" name="ip"/>
        <p></p>
        <input type="text" value="{{ int_p }}" name="int_p">
        <p></p>
        <input type="submit" value="Commit"/>
    </form>
</body>
</html>