<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <script src={{ url_for('static', filename='jquery.js') }}></script>
    <script src={{ url_for('static', filename='scripts.js') }}></script>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='style.css') }}>
</head>
<body>
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}
    <p><a href="{{ url_for('add_router_red')}}">Add router</a></p>
    <p><a href="{{ url_for('add_switching_red')}}">Add switching rule</a></p>
    <table border="0">
        <tr>
            <td>
                 <table class="main_table" border="1">
                    {% for row in routers %}
                        <tr>
                            <td>{{ row.name }}</td>
                            <td>{{ row.ext_ip }}</td>
                            <td><input type="submit" value="Edit" onclick=
                                    'relocate("{{ url_for('redirect_edit_router', name=row.name) }}")'/></td>
                            <td><input type="submit" value="Send" onclick=
                                    'relocate("{{ url_for('ssh_send', router=row.name) }}")'/></td>
                            <td><input type="submit" value="Delete" onclick=
                                    'relocate("{{ url_for('delete_router', router=row.name) }}")'/></td>
                        </tr>
                    {% endfor %}
                 </table>
            </td>
            <td>
                <table class="main_table" border="1">
                    {% for row in switching %}
                        <tr>
                            <td>{{ row.ext_p }}</td>
                            <td>{{ row.ip }}</td>
                            <td>{{ row.int_p }}</td>
                            <td><input type="submit" value="Edit" onclick=
                                    'relocate("{{ url_for('redirect_edit_switching', port=row.ext_p) }}")'/></td>
                            <td><input type="submit" value="Delete" onclick=
                                    'relocate("{{ url_for('delete_switching', port=row.ext_p) }}")'/></td>
                        </tr>
                    {% endfor %}
                 </table>
            </td>
        </tr>
    </table>
</body>
</html>